@import 'tailwindcss';
/* @layer theme {
	@font-face {
		font-family: 'Press Start 2P', serif;
		font-weight: 700;
		font-style: normal;
		src: url(../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
	}
} */
